.containerCalories {
  position: absolute;
  margin-left: 1100px;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}
.imgCalories {
  width: 80px;
}
.numberCalories {
  margin-top: 15px;
  font-weight: bold;
  margin-left: 40px;
}
