.containerGlucides {
  position: absolute;
  margin-left: 1100px;
  margin-top: 400px;
  display: flex;
  flex-direction: row;
}
.imgGlucides {
  width: 80px;
}
.numberGlucides {
  margin-top: 15px;
  font-weight: bold;
  margin-left: 40px;
}
