.containerLipides {
  position: absolute;
  margin-left: 1100px;
  margin-top: 500px;
  display: flex;
  flex-direction: row;
}
.imgLipides {
  width: 80px;
}
.numberLipides {
  margin-top: 15px;
  font-weight: bold;
  margin-left: 40px;
}
